<!doctype html>
<html>
<head>
<style>
	main{display:flex;}
	section{display:flex; flex-direction:column; flex:6; background-color:#f6f6f9;}
	aside{flex:4; background-color:#939;}
	section > div{display:flex; align-items:center;}
	section > div > div{flex:1; align-items:center; justify-content:space-around;}
	section > div > div:last-child span{float:right; margin-right:10px;}
	section span{width:36px; height:36px; border-radius:18px; border:1px solid #cce;
		display:table-cell; vertical-align:middle; text-align:center;}
</style>
</head>
<body>
	<main>
		<section>
			<div>
				<div><span>icon</span></div>
				<div><p>Title</p></div>
				<div><span>icon</span><span>icon</span><span>icon</span></div>
				<div><span>^</span></div>
			</div>
			<div>
				<div><span>icon</span></div>
				<div><p>Title</p></div>
				<div><span>icon</span><span>icon</span><span>icon</span></div>
				<div><span>^</span></div>
			</div>
		</section>
		
		<aside>
			
		</aside>
	</main>
</body>
</html>
